@model MeyawoPortfolio.Models.TblAbout
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Hakkımda Bilgi Ekle</h2>
<form method="post">

    <label>Bilgi  Başlığı</label>
    <input type="text" class="table table-bordered" name="Title" />
    <br />

    <button class="btn btn-info"> Kaydet</button>
</form>

