@model List<MeyawoPortfolio.Models.TblFuture>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h3>Öne Çıkanlar</h3>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>İsim Soyisim</th>
        <th>Açıklama</th>

        <th> Sil</th>
        <th>Güncelle </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FutureID</td>
            <td>@item.Title</td>
            <td>@item.NameSurname</td>
            <td>@item.Header</td>

            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>



        </tr>
    }

</table>
