@model MeyawoPortfolio.Models.TblCategory
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Categori Güncelleme Sayfası</h2>
<form method="post">
    <label>Categori Id</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryID" name="CategoryID" />
    <br />
    <label>Categori Başlığı</label>
    <input type="text" class="table table-bordered" value="@Model.CategoryName" name="CategoryName" />
   
    <button class="btn btn-info">Categori Güncelle</button>
</form>
