
<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
    </div>
    <div class="img bg-wrap text-center py-4" style="background-image: url(/Template/sidebar-09/images/bg_1.jpg);">
        <div class="user-logo">
            <div class="img" style="background-image: url(/Template/IMG_20230822_130816_176.jpg);"></div>
            <h3>Münire Çelikbilek</h3>
        </div>
    </div>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="/Default/Index/"><span class="fa fa-sign mr-3"></span> Siteye Git</a>
        </li>
        <li class="active">
            <a href="/Statistic/Index/"><span class="fa fa-home mr-3"></span> Dashboard</a>
        </li>

        <li>
            <a href="/Education/Index/"><span class="fa fa-gift mr-3"></span>Eğitim Hayatım</a>
        </li>
        <li>
            <a href="/Category/Index/"><span class="fa fa-trophy mr-3"></span>Kategoriler</a>
        </li>
        <li>
            <a href="/Project/Index/"><span class="fa fa-cog mr-3"></span>Projeler</a>
        </li>
        <li>
            <a href="/About/Index/"><span class="fa fa-support mr-3"></span> Hakkımda</a>
        </li>
        <li>
            <a href="/Future/Index/"><span class="fa fa-download mr-3"></span>Öne Çıkanlar</a>
        </li>
        <li>
            <a href="/Service/Index"><span class="fa fa-file mr-3"></span>Hizmetlerim</a>
        </li>
        <li>
            <a href="/SocialMedia/Index"><i class="fa fa-bars mr-3"></i>Sosyal Medya</a>
        </li>
        <li>
            <a href="/Testimonial/Index"><span class="fa fa-car mr-3"></span>Referanslar</a>
        </li>
        <li>
            <a href="#"><span class="fa fa-heart mr-3"></span>Ayarlar</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cloud mr-3"></i>Çıkış Yap</a>
        </li>
    </ul>
</nav>